.modalOverlay {
  position: fixed;
    z-index: 20;

  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
  background-color: white;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: auto;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalContent input {
  width: 89%;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: .5rem;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 0.3rem;
}

.modalContent select {
  width: 94%;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 0.3rem;
}

.modalContent button {
  padding: 0.5rem;
  width: 50%;
  margin: auto;
  border: 0;
  border-radius: 1rem;
}

.modalClose {
  background-color: #8c8c8c;
}

.confirm-modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: 2rem;
}

.confirm-modalContent {
  padding: 1rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 20%;
  position: relative;
}

.confirm-modalContent button {
  border-radius: 0.3rem;
  color: #000000;
  font-weight: 600;
  border: 0;
  padding: 0.8rem;
  width: 35%;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease; /* smooth effect */
}

.confirm-modalContent button:hover {
  background-color: burlywood;
}

.message {
  font-size: .9rem;
}