.audit-logs-page {
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  padding: 1rem;
  height: auto;
  border-radius: .3rem;
}

.custom-datepicker-wrapper {
  display: inline-block;
}

.custom-datepicker-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  font-size: 1rem;
}

.react-datepicker {
  font-family: inherit;
  /* Add more overrides if needed */
}

.audit-table {
  width: 100%;
  border-collapse: collapse;
}

.audit-table td,
.audit-table th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.audit-table th {
  background-color: #000000;
  color: #ffffff;
  position: sticky;
}

.audit-header {
  padding: 1rem 0 1rem 0;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
  flex-direction: row;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 0.3rem;
}

.custom-datepicker-input {
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 0.3rem;
}
