.menu {
  padding: 1rem;
  border: 2px solid #ffffff;
  border-radius: 0.3rem;
  width: 100%;
  height: 90vh;
  margin: 1rem;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

.menu h2 {
  font-size: 3rem;
  font-family: "Gothic", sans-serif;
  margin: 0;
  margin-bottom: -1rem;
  font-weight: 800;
  text-align: center;
  color: #ffff;
}

.sub-label {
  color: #ffffff;
  text-align: center;
}

.user-name {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  padding: .5rem;
}

.options {
  display: flex;
  flex-direction: column;
}

.options a {
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  margin: 0rem;
}

.options .icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  padding-bottom: -1.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.078);
  border-radius: 0.3rem;
}

.nav-item.active {
  background-color: #ffffff; /* Active background */
  color: black;
  border-radius: 0.3rem;
  font-weight: 600;
}

.nav-item.logout {
  margin-top: 0.5rem;
  border-top: 2px solid rgb(255, 255, 255);
}
